@model WirenetApp.UserService

@{
    ViewBag.Title = "ViewBookingStatus";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>ViewBookingStatus</h2>

<div>

    <hr />
    <dl class="dl-horizontal" style="font-size:larger">
        <dt>
            @Html.DisplayNameFor(model => model.BookingStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookingStatus)
        </dd>

    </dl>
</div>
<div>@ViewBag.msg</div>
<p>

    @Html.ActionLink("Back to ServiceProviderInformation", "ViewServiceProvider","ServiceProviderDetails")
</p>
